<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{app.request.basePath}}/CSS/stylesheet.css">
  <link href="{{app.request.basePath}}/CSS/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dr+Sugiyama" rel="stylesheet">
  <title>Le Marrakech - admin</title>
</head>
<body class="admin">
  <section>
    <h1>Admistrateur</h1>
    <article >
      <a href="{{app.request.baseUrl}}/showRes"><i class="fa fa-address-book-o" aria-hidden="true"></i>Voire les Resaervations</a><br>
      <a href="{{app.request.baseUrl}}/showMes"><i class="fa fa-commenting-o" aria-hidden="true"></i>Voire les Messages</a>
    </article>
  </section>
</body>
</html>
